body{
    background-color: #f2f2f2 }

#main{
    width: 90%;
    margin: auto;
}

#cart_items{
    display: flex;
    /* width: 90%; */
    margin: auto;
    /* flex-grow: ; */
    justify-content:space-between ;
    background-color: white;
    /* padding: 10,10; */
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    margin-top: 150px;
    margin-bottom: 25px;
}

#cart_items>div{
    
font-weight:400;
font-size: 14px;
line-height: 50px;
color: #999999;
height: 50px;
}
#supb{
    /* width:90%; */
    background-color: white;
    /* height: 50px; */
    margin: auto;
    margin-bottom: 1px;
}
#supn{
    color: #999999;
    line-height: 60px;
    margin-left: 55px;
    font-size: 16px;
    font-weight: 400;
    

}

#probox{
    background-color: white;
    /* margin: auto; */
    height: 150px;
    display: flex;
    /* justify-content:space-between ; */
}

#proi{
    height: 100px;
    /* margin-bottom: 25px;
    margin-bottom: 25px; */
    /* margin-left: 40px; */
}
#proin{
    margin-left: 10px;
}

#imginfo{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 36%;
    border: 1px solid;
    margin-left: 20px;
}
/* #proinfo{
    word-wrap: break-word;
    text-align: justify;
    /* text-overflow: clip; */
    /* margin-left: 20px; */
/* } */ 

#price{
    width:15%;
    margin-left: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* text-align: center; */
    /* padding-top: 50%; */
    
}

#quantity{
    width:13.33%;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#netprice{
    width: 16.66%;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#operation{
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pops{
    display: flex;
    background-color: white;
    text-decoration: none;
    margin: auto;
    width: 100%;
}

.pops>a{
    margin-left: 35px;
color: black;
}

/* #p1{
    width: 30%;
} */

#container2{
    height: 177px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}

#p1{
    height: 57%;
    /* border: 1px solid; */
    width: 100%;
    display: flex;
}

#p11{
    /* border: 1px solid; */
    width: 40%;
    height: 100%;
    display: flex;
}
#p12{
    /* border: 1px solid; */
    width: 60%;
    height: 100%;
}


#p111{
    /* border:  1px solid; */
    width: 50%;
    height: 30%;
    margin: auto;
    display: flex;
}

#p112{
    /* border:  1px solid; */
    width: 50%;
    height: 30%;
    margin: auto;
    display: flex;
}

.dt1{
    /* border:  1px solid; */
    height: 100%;
    width: 70%;
}


#p12{
    display: flex;
}

.amt1{
    color: crimson;
    /* text-decoration: ; */
}


#p2{
    /* border: 1px solid; */
    width: 100%;
    height: 43%;
    margin: auto;
    display: flex;
}

.or{
    font-family:  OpenSans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin-left: 10px;
    margin-right: 10px
}

#cho{
    background-color: gold;
    color: black;
    height: 40px;
    width: 142.672px;
    font-weight: 700px;
    font-size: 16px;
    line-height: 40px;
    border: dashed red 1px;
}