*{
    font-family: 'Open Sans', sans-serif;
}

.headShortcut{
    font-size: 13px;
    line-height: 13px;
    text-decoration: none solid rgb(102,102,102);
    text-align: right;
    word-spacing: 0px;

    background-color: white;
    color: #666666;


    height: 26px;
    width: 1190px;
    padding: 10px 0 0 0;
    margin: auto;
    display: flex;
    justify-items:center;
    justify-content: end;
    

}
#supportText{
    margin-right: 20px;
}
.headShortcut i{
    margin-left: 10px;
    margin-right: 20px;
}
#mobileIcon{
    margin-right: 5px;
}
.headOption:hover{
    text-decoration: underline 1px solid rgb(102,102,102);
    cursor: pointer;
}
#supportText:hover{
    text-decoration: underline 1px solid rgb(102,102,102);
    cursor: pointer;
}
.headEntries{
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    word-spacing: 0px;
    display: flex;
    justify-content: space-between ;

    height: 40px;
    width: 1170px;
    padding: 14px 20px 14px 0;
    margin: auto;
}
#logo{
    height: 50px;
    width: 230px;
    /* margin: 0 0 25px 0; */
    max-height: 100px;
    max-width: 230px;
    padding: 8px 5px 8px 5px;
    margin-top: -35px;
}
#headSearchBox{
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    word-spacing: 0px;

    height: 26px;
    width: 355px;
    padding: 3px 0 3px 0;
    border: 0px;
}
#searchBtn{
    background-color: rgb(255,218,0);
    border: 0px;
    padding: 10px 14px 7px 14px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -4px;
}
#searchDiv{
    border: 1px solid rgb(255,218,0);
    border-radius: 20px;
    height: 35px;
}
#searchDiv span{
    cursor: default;
}
#headEntries_user{
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: 0px;
    justify-content:space-around;

    height: 27px;
    width: 318.77px;
    display: flex;
}
#headsignInSpan{
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    word-spacing: 0px;
    color: #666666;
    /* border: 1px solid slateblue; */
    margin: 0;

    height: 25px;
    width: 70px;
    min-width: 70px;

    display: inline-block;
    position: relative;
    cursor: pointer;
}
#headfavSpan{
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    word-spacing: 0px;
    color: #666666;
    /* border: 1px solid slateblue; */
    margin-right: 15px;

    height: 25px;
    width: 59.21px;

    display: flex;
    cursor: pointer;
}
#headcartSpan{
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    word-spacing: 0px;
    color: #666666;
    /* border: 1px solid slateblue; */
    margin: 0;

    height: 25px;
    width: 59.21px;

    display: inline-block;
    cursor: pointer;
}
#headEntries_user i{
    margin-top: 5px;
}
#headNav{
    height: 40px;
    width: 1190px;
    display: flex;
    background-color: #FFDA00;
    margin: auto;
}
#headNav_cat{
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;

    background-color: black;
    color: white;

    height: 40px;
    width: 230px;

    /* position: relative; */
    display: block;
    cursor: default;
}
.headNav_item{
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 0px;

    color: black;

    height: 40px;
    width: 230px;
    display: inline-block;

    list-style-type: none;
    list-style-position: outside;
}
.headNav_itemLink{
    font-size: 16px;
    font-weight: bolder;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    word-spacing: 0px;

    color: black;

    height: 40px;
    width: 70.81px;

    /* position: relative; */
    display: inline-block;
    cursor: pointer;
}
.headNav_itemLink:hover{
    text-decoration: underline 4px solid  black;
    text-underline-offset: 4px;
}
#invisible{
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    text-align: left;
    word-spacing: 0px;

    /* background-color: white; */
    color: #666666;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

    height: 263.33px;
    width: 260px;
    padding: 0 20px 20px 20px;
    background: rgb(255,255,255);
    position: absolute;
    top: 150%;
    /* visibility: hidden;
    opacity: 0; */
    display:none;

}
#headsignInSpan:hover #invisible{
    /* visibility: visible;
    opacity: 1; */
    display: block;
}
#invisible p{
    font-size: 14px;
    line-height: 25px;
    color: black;
    font-weight: bold;

    height: 25px;
    width: 260px;
    padding: 10px 0 0 0;

    display: block;

}
#invisible a{
    font-size: 14px;
    font-weight: 700px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;

    background-color: #F2CE00;
    color: black;

    height: 40px;
    width: 260px;
    display: block;
    cursor: pointer;
}

#invisibleInner{
    font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    text-align: left;

    background-color: white;
    color: #666666;

    height: 32.22px;
    width: 260px;
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 0 20px 0;
    display: block;
    cursor: default;
}
#invisibleInner span{
    font-size: 12px;
    line-height: 25px;
    vertical-align: middle;
    background-color: white;
    color: #666666;

    height: 25px;
    width: 78.40px;
    margin: 0 10px 0 0;
    display: inline-block;
    cursor: default;
}
#invisibleInner img{
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 10px 0 0;
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
}
#invisible button{
    font-size: 14px;
    font-weight: 700px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;

    background-color: #0073F2;
    color: white;
    height: 40px;
    width: 260px;
    display: block;
    cursor: pointer;
    border: 0px;
}